<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <style type="text/css">
    body {
      background-color: gainsboro;
    }
  </style>
  
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hm' %}">CRUD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lgn' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'reg' %}">Registration</a>
      </li>    
    </ul>
  </div>  
</nav>
<br>

<div class="container">
  <div class="card col-md-5 mx-auto shadow-lg border rounded border-primary">
    <div class="card-title">
      <h3 class="text-center mt-3">Login</h3>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="u" placeholder="Username" class="form-control my-2">
          <input type="password" name="p" placeholder="Password" class="form-control my-2">
          <div class="row">
            <div class="col-md">
              <a href="{% url 'reg' %}" class="btn btn-block btn-warning my-2">New User</a>  
            </div>
            <div class="col-md">
              <input type="submit" value="Login" class="btn btn-block btn-success my-2">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


